/**
  * COLORS TO WORK WITH
  #E63946
  #F1FAEE
  #A8DADC
  #457B9D
  #1D3557
  *
 **/

body {
  background-color: #F1FAEE;
  color: #3D3B30;
  margin:0;
  height:100vh;

  font-family: 'Open Sans', sans-serif;
}

header {
  width:100%;
  height:30%;

  background-color: #1D3557;
  color: #FFFACC;

  padding:0;

  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

#title {
  font-size:32px;
  letter-spacing: 4px;
  width:100%;
  text-align: center;
}

#quote-button{
  max-width: 80%;

  font-family: 'Open Sans', sans-serif;
  font-size:13px;

  border:1px solid #E63946;
  border-radius: 3px;

  padding:10px 10px;

  color: #FFFFFF;
  background-color: #E63946;
}

#quote-button:hover{
  background-color: #DB3641;
  border-color:#DB3641;
  cursor:pointer;
}

#tweet-quote {
  margin-left: 3vh;
  color:#1DA1F3;
  align-self: center;
}

  #tweet-quote:hover {
    color:#0484CE;
  }

#main {
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  height:60%;
}

#quote-wrap {
  font-family: "Josefin Slab", serif;
  font-size: 25px;
  max-width: 80%;
  text-align: center;
  max-width:672px;
}

#author-wrap {
  font-size:20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#footer {
  border-top:1px solid #3D3B30;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-size:12px;
  height:10%;
  display:flex;
  align-items: center;
  justify-content: center;
}
